.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

.auth, button {
  display: block;
  text-decoration: none;
  margin: 10px auto;
  width: 100px;
  background: #4E9CAF;
  padding: 15px;
  text-align: center;
  border-radius: 50px;
  color: white;
  font-weight: bold;
  font-size: 14px;
  border: none;
}

button {
  width: 130px;
}





@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
