.chart {
    height: 100px;
    width: 40%;
    float: right;
    padding: 75px;
} 

canvas {
    padding: 30px;
    background-color: white;
    border-radius: 1%;
    box-shadow: 1px 1px 10px 0px rgba(0, 0, 0, 0.577);
}