.emoji {
    height: 40px;
    width: 40px;
    margin: 0 10px;
    border-radius: 50%;
    transition: all .2s ease-in-out;
}

.emoji:hover {
    background-color: yellow;
    transform: scale(1.1);
}

.selected {
    background-color: yellow;
}

.empty {
    background-color: white;
}

.emotionScale {
    margin: 15px;
}

.emojiSelect {
    padding: 5px 0;
    margin-bottom: 20px;
}


