ul {
    list-style: none; 
    -webkit-padding-start: 0; 
}

.fa-trash-alt, .fa-edit {
    float: right;
    transition: all .2s ease-in-out;
}

.fa-trash-alt:hover, .fa-edit:hover {
    float: right;    
    transform: scale(1.1);
}

#icon {
    margin: 15px;
    margin-bottom: 0;
    color: #444;
    display: inline-block;
}

.journalListView {
    width: 85%;
    margin: 50px auto;
    box-shadow: 1px 1px 10px 0px rgba(0, 0, 0, 0.577); 
  }

li.listViewMenu{
    list-style: none;
    margin-bottom: 2px;
    width: 100%;
    background-color: whitesmoke;
    border: none;
    outline: none;
    text-align: left;

    font-size: 22px;
    color: #444;
    cursor: pointer;
    transition: background-color 0.2s linear;
}

.journalContent {
    background-color: white;
    border-left: 1px solid whitesmoke;
    border-right: 1px solid whitesmoke;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-in-out;
}

li.listViewMenu.is-closed:hover, li.listViewMenu.is-open {
    background-color: gainsboro;
}

li.listViewMenu.is-closed .journalContent {
    max-height: 0;
    overflow: hidden;
}

li.listViewMenu.is-open .journalContent {
    list-style: none;
    margin-bottom: 2px;
    outline: none;
    text-align: left;
    padding: 15px 20px;
    font-size: 22px;
    font-family: 'Merriweather', serif;
    color: #444;
    cursor: pointer;
    max-height: 800px;
    transition: max-height 0.4s ease-in-out;
}

li.listViewMenu.is-open .fa-chevron-down {
    transition: 0.6s;
    transform: rotateX(180deg);
}

.viewEntry h3 {
    text-align: center;
    display: block;
    margin: 0;
    padding-bottom: 30px;
}

.label {
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    font-size: 24px;
    text-decoration: underline;
    margin: 10px 0px;
}

.emoji {
    background-color: yellow;
    margin: 15px;
}
