ul {
    list-style: none;  
}

.fa-trash-alt, .fa-edit{
    
    float: right;
    transition: all .2s ease-in-out;
}

#icon {
    margin: 15px;
    margin-bottom: 0;
}

.journalListView {
    width: 85%;
    max-width: 800px;
    margin: 50px auto;
  }
  /* li.listViewMenuis-closed:before {
    content: '\f055';;
  } */
li.listViewMenu{
    list-style: none;
    margin-bottom: 2px;
    width: 100%;
    background-color: whitesmoke;
    border: none;
    outline: none;
    text-align: left;

    font-size: 18px;
    color: #444;
    cursor: pointer;
    transition: background-color 0.2s linear;
}

/* li.listView:after {
content: '\f055';
font-family: "fontawesome";
font-size: 14px;
float: right;
} */
/* take a second look at this to ensure it is working */
/* li.listViewMenuis-open:before {
content: '\f056';
} */
.journalContent {
    background-color: white;
    border-left: 1px solid whitesmoke;
    border-right: 1px solid whitesmoke;
    padding: 0 20px;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-in-out;
}

li.listViewMenu.is-closed:hover, li.listViewMenu.is-open {
    background-color: #ddd;
}

li.listViewMenu.is-closed .journalContent {
    max-height: 0;
    overflow: hidden;
}

li.listViewMenu.is-open .journalContent {
    list-style: none;
    margin-bottom: 2px;
    outline: none;
    text-align: left;
    padding: 15px 20px;
    font-size: 18px;
    color: #444;
    cursor: pointer;
    max-height: 800px;
    transition: max-height 0.4s ease-in-out;
}

li.listViewMenu.is-open .fa-chevron-down {
    transition: 0.6s;
    transform: rotateX(180deg);
}

.viewEntry h3 {
    text-align: center;
    display: block;
    margin: 0;
    padding-bottom: 30px;
}

.label {
    font-weight: bold;
}