.journalForm {
    border: 1px solid grey;
    width: 40%;
    padding: 30px;
    margin: 50px;
    background-color: white;
    border-radius: 2%;
    box-shadow: 1px 1px 10px 0px rgba(0, 0, 0, 0.577);
}

#editForm {
    width: 60%;
    margin: 50px auto;
}

label{
    font-family: 'Shadows Into Light';
    font-size: 22px;
    letter-spacing: 1px;
}

.journalForm h1 {
    text-align: center;
}

.field input {
    width: 80%;
    margin-bottom: 30px;
    padding: 5px;
    border-top: none;
    border-right: none;
    border-left: none;
    border-bottom: .5px solid lightgray;
    font-size: 16px;
    font-style: italic;
}

.field input:focus {
   width: 95%; 
   font-size: 20px;
   border-bottom: 1.5px solid teal;
   color: black;
   outline: 0;
   transition: 0.2s ease-in-out;
}






