.hero {
    background: url(../images/thumbs_up.jpg) no-repeat center;
    background-color:rgba(64, 200, 224, 0.652);
    background-blend-mode: multiply;
    background-size: cover; 
    color: white;
    height: 60vh;
    width: 100%;
}

/* TODO: Fix paragraph to look nice */
.hero h1 {
    -webkit-margin-before: 0em;
    -webkit-margin-after: 0em;
    padding-top: 1em;
    text-align: center;
    font-size: 80px;
}

.hero p {
    margin: auto;
    width: 70%;
    text-align: center;
    font-size: 2rem;
    padding: 1rem;
}

.howItWorks {
    background-color: white;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 33% 33% 33%;
    grid-gap: 10px;
    justify-content: space-evenly;
    padding: 20px;
    text-align: center;
}
.landingPage h2 {
    font-size: 2rem;
    text-decoration: underline;
    text-align: center;
}

.howItWorks i {
    font-size: 30px;
}

.howItWorksPoint {
    width: 100%;
}

.authButtons {
    width: 30%;
    display: grid;
    grid-template-columns: auto auto;
    margin: 5px auto;
}