.landingPage span {
    display: inline-block;
}

.row::after {
    content: "";
    clear: both;
    display: table;
  }

.row {
      height: 370px;
}

.hero {
    background: url(../images/thumbs_up.jpg) no-repeat center;
    background-color:rgba(64, 200, 224, 0.652);
    background-blend-mode: multiply;
    background-size: cover; 
    color: white;
    height: 60vh;
    width: 100%;
}

/* TODO: Fix paragraph to look nice */
.hero h1 {
    -webkit-margin-before: 0em;
    -webkit-margin-after: 0em;
    padding: 1em 0;
    text-align: center;
    font-size: 4em;
}

.hero p {
    margin: auto;
    width: 70%;
    text-align: center;
    font-size: 2rem;
    padding: 1rem;
}

#info {
    background-color: white;
    color: rgb(14, 14, 58);
}

.landingPage .col-4 {
    background-color: rgb(14, 14, 58);
    color: white;
}

#howItWorks {
    background-color: white;
}

#valueProposition {
    background: url(../images/daisies.jpeg) no-repeat center;
    background-color:rgba(64, 200, 224, 0.652);
    background-blend-mode: multiply;
    background-size: cover; 
    color: white;
    width: 100vw;
}

.landingPage h2 {
    font-size: 3.3rem;
    text-align: right;
    padding: 20px;
    -webkit-margin-before: 0;
    -webkit-margin-after: 0;
    height: 300px;
    width: 300px;
    font-weight: bold;
    font-family: 'Shadows Into Light';
}

.landingPage p {
    font-size: 30px;
    text-align: left;
    padding: 3.85rem 1.5rem;
    -webkit-margin-before: 0;
    -webkit-margin-after: 0;
}

.landingPage span::before p {
    margin: 10px;
}

.authButtons {
    width: 30%;
    display: grid;
    grid-template-columns: auto auto;
    margin: 5px auto;
}

.authButtons a {
    background-color: rgb(14, 14, 58);
    color: white;;
}

td h3 {
    margin: 40px 15px;
    color: rgb(14, 14, 58);
}

@media only screen and (max-width: 768px) {
    /* For mobile phones: */
    [class*="col-"] {
        width: 100%;
    }
    .authButtons {
        width: 100%;
    }

    .hero {
        height: 80vh;
    }
    
}
