.nav {
    list-style-type: none;
    margin: 0;
    padding: 10px;
    overflow: hidden;
    background-color: #333;
    color: white;
}

.nav li {
    display: inline;
    text-align: center;
    margin: 10;
}

.nav li a{
    margin: 10;
    color: white;
    text-decoration: none;
    padding-right: 15px;
    
}

.logout {
   clear: left;
    float: right;
}