.nav {
    list-style-type: none;
    margin: 0;
    padding: 20px;
    overflow: hidden;
    background-color: #444;
    color: #F6F7EB;
    box-shadow: 1px 1px 10px 0px rgba(0, 0, 0, 0.577);
}

.nav li {
    display: inline;
    text-align: center;
}

.nav li a {
    margin: 10;
    color: #F6F7EB;
    text-decoration: none;
    padding-right: 15px;
    display: inline;
    
}

.nav a:hover {
    color: rgb(239, 237, 81);
    cursor: pointer;
}

.nav li:hover {
    color: rgb(239, 237, 81);
    cursor: pointer;
}


.logout {
   clear: left;
    float: right;
}